@use "helper" as *;

$border-widths: (
  none: rem(0px),
  md: rem(1px),
  lg: rem(2px),
);

$border-colors: (
  none: (
    light: "transparent",
  ),
  image-highlight: (
    light: "primary-500",
  ),
  default-focus: (
    light: "primary-500",
  ),
);

$borders: (
  none: (
    width: "none",
    style: "solid",
    color: "none",
  ),
  image-highlight: (
    width: "lg",
    style: "solid",
    color: "image-highlight",
  ),
  default-focus: (
    width: "lg",
    style: "solid",
    color: "default-focus",
  ),
);
