@use "helper" as *;

// Buttons
$button-colors: (
  default: (
    idle: (
      bg: (
        light: "primary-500",
      ),
      fg: (
        light: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "primary-700",
      ),
      fg: (
        light: "neutral-000",
      ),
    ),
    disabled: (
      bg: (
        light: "rose-100",
      ),
      fg: (
        light: "rose-300",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline-start: (
    default: rem(16px),
  ),
  padding-inline-end: (
    default: rem(16px),
  ),
  padding-block: (
    default: rem(16px),
  ),
  border-width: (
    default: 0px,
  ),
  border-radius: (
    default: 1000px,
  ),
  svg-width: (
    default: rem(14px),
  ),
  gap: (
    default: rem(12px),
  ),
);
