@use "helper" as *;
@use "page" as *;

// Wrapper max-widths
$wrapper-sizes: (
  default: 1216px,
  narrow: 1000px,
  wide: 1400px,
);

// Static sizes
$static-sizes: (
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  64: 64px,
);

// Breakpoint-specific sizes
$breakpoint-specific-sizes: (
  (24px, 40px, 40px),
  (24px, 32px, 32px),
  (24px, 32px, 48px)
);

//  Logo
$logo-sizes: (
  default: rem(16px),
);

// SVG
$svg-sizes: (
  illustration-empty-cart: rem(128px),
  icon-add-cart: rem(20px),
  icon-carbon-neutral: rem(20px),
  icon-increment: rem(10px),
  icon-decrement: rem(10px),
  icon-order-confirmed: rem(48px),
  icon-remove-item: rem(10px),
);

$miscellaneous-sizes: (
  product-card-button: rem(160px),
);
